################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/BK.StaffManagement/obj
/src/.vs
/src/BK.StaffManagement/bin/Debug/netcoreapp2.0
/src/BK.StaffManagement/bower_components
!/src/BK.StaffManagement/wwwroot/lib/

/src/BK.StaffManagement/wwwroot/lib/*
!/src/BK.StaffManagement/wwwroot/lib/iCheck

/src/.vscode
